<div class="jumbotron">
    <div class="container">
        <h1 class="web-title">Bienvenido a Web Alias</h1>
        <p>Web Alias te permite resumir largas direcciones de páginas webs en dos piezas pequeñas de información. Un tag y un código. Comunica tus enlaces de forma rápida, corta y conveniente!</p>
        <ul class="nav nav-pills nav-justified" style="background-color:white">
            <li id="header-but-search" role="presentation" class="">
                <a href="{{ path('alias_search') }}">Consulta un alias</a>
            </li>
            <li id="header-but-create" role="presentation" class="">
                <a href="{{ path('alias_create') }}">Crea tu alias</a>
            </li>
        </ul>
    </div>
</div>